[defaults]
callback_plugins= ${XDG_CONFIG_HOME}/ansible/callbacks
deprecation_warnings=False
fact_caching = jsonfile
fact_caching_connection = ${XDG_CACHE_HOME}/ansible/facts_cache
gathering = smart
inventory = ${XDG_DATA_HOME}/ansible/inventory
log_path = ${XDG_CACHE_HOME}/ansible/ansible.log
nocows = 1
pipelining = true
local_tmp = ${XDG_CACHE_HOME}/ansible/tmp
remote_tmp = /tmp
retry_files_enabled = False
roles_path = ${XDG_DATA_HOME}/ansible/roles
collections_path = ${XDG_DATA_HOME}/ansible/collections
vault_password_file = ${XDG_DATA_HOME}/ansible/crap
token_path = ${XDG_DATA_HOME}/ansible/galaxy_token

[inventory]
enable_plugins = host_list,ini,auto,yaml,toml,vmware_vm_inventory

[galaxy]
server_list = dwhicker,published,rh-certified,release_galaxy

[galaxy_server.dwhicker]
url=https://rhel-ans-hub.lab.local/api/galaxy/content/inbound-dwhicker/

[galaxy_server.published]
url=https://rhel-ans-hub.lab.local/api/galaxy/content/published/

[galaxy_server.rh-certified]
url=https://rhel-ans-hub.lab.local/api/galaxy/content/rh-certified/

[galaxy_server.release_galaxy]
url=https://galaxy.ansible.com/

[privelege_escalation]
become = true
become_ask_pass = false
become_method = sudo
become_user = root
